PORT=5000
MYSQL_HOST=mysql-25e9bad7-crazzychazzey2005-1f00.l.aivencloud.com
MYSQL_PORT=26843
MYSQL_DATABASE=defaultdb
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your_aiven_password
MYSQL_SSL=true
MYSQL_SSL_REJECT_UNAUTHORIZED=false
